extends layout

block content
  article.max-w-prose.mx-auto.mt-5.text-sm
    h1.text-lg=article.title
    div By #{article.author}
    div.mb-1
      em Posted on #{article.getPublishedDate()}
    .
      !{article.body}
    if (previousArticle)
      a(href="/articles/" + previousArticle.slug) &laquo; #{previousArticle.title}
    if (nextArticle)
      if (previousArticle)
        |  |     
      a(href="/articles/" + nextArticle.slug) #{nextArticle.title} &raquo; 
