extends layout

block content
  article.max-w-prose.mx-auto.mt-5.text-sm
    h1.text-lg=article.title
    div By #{article.author.first_name} #{article.author.last_name}
    div.mb-1
      em Posted on #{article.getPublishedDate()}
    div !{article.body}


    if (previousArticle)
      a(href="/articles/" + previousArticle.slug, class="text-cyan-500 hover:text-cyan-200") &laquo; #{previousArticle.title}
    if (nextArticle)
      if (previousArticle)
        |  |     
      a(href="/articles/" + nextArticle.slug, class="text-cyan-800 hover:text-cyan-500") #{nextArticle.title} &raquo; 

    div.mt-4.text-slate-500.text-xs Written By:
    div.mt-1.mb-8.rounded.bg-slate-100.p-3.bg-gradient-to-r.from-cyan-400.to-sky-400
      div.font-bold.text-lg 
        em #{article.author.first_name} #{article.author.last_name}
      div !{article.author.about}
      div.my-1.flex
        if (article.author.linkedin) 
          a(href=article.author.linkedin, class="rounded-full flex-initial mr-1 p-1 hover:bg-white")
            img(src="/images/linkedin.png" width=24)
        if (article.author.github)
          a(href=article.author.github, class="rounded-full flex-initial p-1 hover:bg-white")
            img(src="/images/github.png" width=24)
          

