extends layout

block content
  h1= title
  div By #{article.author}
  div 
    em Posted on #{article.getPublishedDate()}
  .
    !{article.body}

  if article.previousArticle
    a(href="/articles/" + article.previousArticle.slug) &laquo; #{article.previousArticle.title}
  if article.nextArticle
    if article.previousArticle
      |  |     
    a(href="/articles/" + article.nextArticle.slug) #{article.nextArticle.title} &raquo; 

  script.
    console.log(!{JSON.stringify(article)})
